node_modules
app.code-workspace
.env
data-files/*/
!data-files/tt1
public/images/maps
public/images/animations
*.txt
coverage/*
server.js
public/scripts/
public/scripts/admin/*.js
public/scripts/class/*.js
routes/*.js
routes/admin/*.js
routes/api/*.js
src/**/*.js
/test-results/
/playwright-report/
/playwright/.cache/
