node_modules
app.code-workspace
.env
temp/*
public/images/maps
*.txt
coverage/*
server.js
public/scripts/
public/scripts/admin/*.js
public/scripts/class/*.js
routes/*.js
src/**/*.js
prisma/migrations/**/*
