doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/collections.css", type="text/css")
    script(src="/scripts/collections.js", type="module", defer)
  body
    include navbar.pug
    section#filters
      fieldset
        label(for="world-filter") Świat:
        select#world-filter(name="world-filter", autocomplete="off")
          option(value="0", selected) dowolny
          each world in worlds
            option(value=world.id)= world.server + world.num
    main
      #collection-list
