doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Maps
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/maps.css", type="text/css")
    script(src="/scripts/maps.js", type="module", defer)
  body
    include navbar.pug
    main
      #accessories
        form
          fieldset
            h4 Świat
            select#world-select(name="world-select", autocomplete="off")
              option(value="0", selected) Dowolny
              each world in worlds
                option(value=world.id) #{ world.server+world.num }
          fieldset
            h4 Data utworzenia
            div
              input#timespan-day(type="radio", name="timespan", value="day")
              label(for="timespan-day") Dzień
            div
              input#timespan-week(type="radio", name="timespan", value="week")
              label(for="timespan-week") Tydzień
            div
              input#timespan-month(type="radio", name="timespan", value="month", checked)
              label(for="timespan-month") Miesiąc
            div
              input#timespan-all(type="radio", name="timespan", value="any")
              label(for="timespan-all") Wszystko
          fieldset
            h4 Sortuj od
            div
              input#order-newest(type="radio", name="order", value="newest", checked)
              label(for="order-newest") Najnowszych
            div
              input#order-oldest(type="radio", name="order", value="oldest")
              label(for="order-oldest") Najstarszych
            div
              input#order-views(type="radio", name="order", value="views")
              label(for="order-views") Najpopularniejszych
      #maps-list
