#nav-bar
  div
    a(href="/") Strona główna
  if page !== "new"
    div
      a(href="/new") Stwórz mapę
    div
      a(href="/maps") Mapy
    if user && user.rank === 10
      div
        a(href="/admin") Panel
  else
    div
      button#settings-button Ustawienia
    div
      button#marks-button Oznaczenia
  #profile
    button#profile-button= user ? "Profil" : "Logowanie"
    .hidden
      if user
        p Zalogowany jako #{ user.login }
        button#logout-button(type="button") Wyloguj się
      else
        form#login-form
          input#login(type="text", name="login", autocomplete="off", placeholder="login")
          input#password(type="password", name="password", placeholder="hasło")
          button#submit(type="submit") Zaloguj się
        button#register-button Zarejestruj się
