#nav-bar
  div
    a(href="/") Strona główna
  if page !== "new"
    div
      a(href="/new") Stwórz mapę
    div
      a(href="/maps") Mapy
    if loggedIn && userRank === 10
      div
        a(href="/admin") Panel
  else
    div
      button#settings-button Ustawienia
    div
      button#marks-button Oznaczenia
  #profile
    button#profile-button Profil
    .hidden
      include profile-tab.pug
