if loggedIn
  p Zalogowany jako #{ userLogin }
  if page === "new"
    button#publish-button.btn Opublikuj
else
  form#login-form
    input#login(type="text", name="login", autocomplete="off")
    input#password(type="password", name="password")
    input#submit(type="submit", value="Zaloguj się")
