doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    //- link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/register.css", type="text/css")
    //- script(src="/scripts/register.js", defer)
  body
    #container
      form(action="/register", method="post")
        span #{ success?'Zarejestrowano':message }
        input#login(type="text", name="login")
        input#password(type="password", name="password")
        input(type="submit", value="Zarejestruj się")
