html,
body {
  height: 100%;
}

#wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 2rem);
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
#map-enlarged {
  position: absolute;
  display: flex;
  overflow: hidden;
  visibility: hidden;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
}
#previous-map {
  position: absolute;
  left: 0;
  top: 50%;
}
#next-map {
  position: absolute;
  right: 0;
  top: 50%;
}
#hide-enlarged-map {
  position: absolute;
  top: 0;
  right: 0;
}
#image-wrapper {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
#image-wrapper > img {
  width: 100%;
  height: 100%;
}
#map-tiles {
  width: 70%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}
.map-tile {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--accent);
  cursor: pointer;
}
.map-tile:hover {
  border: 1px solid var(--light-accent);
}
.map-tile > img {
  width: 100%;
  height: 100%;
}
#info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: var(--section);
  color: var(--font);
}
#info > * {
  padding: 0.5rem;
}
#info input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}
.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
/* #delete-collection-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
} */
