:root {
  --background: #313131;
  --section: #6c6c6c;
  --element: #666666;
  --light-element: #5c5c5c;
  --accent: #a54d00;
  --light-accent: #c06c3f;
  --font: #242424;
  --light-font: #a1a1a1;
  --disabled-font: #707070;
  --danger: #800000;
  --success: #004000;
  --navbar-height: 2rem;
}
html {
  font-size: 0.8vw;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a,
button,
select,
input {
  background-color: var(--accent);
  color: var(--font);
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 3rem;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
}
input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--font);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  padding: 0 0.5rem;
  cursor: text;
}
input[type="number"] {
  appearance: auto;
}
button:disabled,
select:disabled,
input:disabled {
  cursor: not-allowed;
  color: var(--disabled-font);
}
a:hover,
button:hover:enabled,
select:hover:enabled,
input:hover:enabled {
  background-color: var(--light-accent);
}
a:active,
button:active:enabled {
  background-color: var(--section);
}
input:focus,
select:focus {
  outline: 2px solid var(--light-accent);
}
input::placeholder {
  color: var(--font);
}
a:link {
  text-decoration: none;
}
a:visited {
  color: var(--font);
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font);
}
h2 {
  font-size: 1.5rem;
}
label {
  height: fit-content;
}
main,
section {
  width: fit-content;
  margin: 1rem auto 1rem auto;
}
table {
  border-collapse: separate;
  border-spacing: 0.25rem;
  text-align: center;
  background-color: var(--section);
  color: var(--font);
  height: fit-content;
}
table tr {
  height: 100%;
}
table td,
table th {
  font-size: 1rem;
  vertical-align: middle;
}
table th {
  font-weight: bold;
}
table tbody tr:nth-child(2n) {
  background-color: var(--element);
}
table tbody tr:nth-child(2n + 1) {
  background-color: var(--light-element);
}
.block {
  display: block;
  width: 100%;
}
a.block {
  display: flex;
}
.delete-button:hover {
  border-color: var(--danger);
  outline: 3px solid var(--danger);
}
#collection-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50rem;
}
.collection-card {
  background-color: var(--accent);
  padding: 0;
  overflow: hidden;
}
.collection-card:hover {
  background-color: var(--light-accent);
}
.collection-card > a {
  display: flex;
  flex-direction: row;
  height: 20rem;
  padding: 0;
  border: none;
}
.collection-card > a > div:first-child {
  height: 20rem;
  flex: 0 0 20rem;
  overflow: hidden;
}
.collection-card > a > div:last-child {
  display: block;
  width: 0;
  height: 20rem;
  flex: 1 0 0;
  padding: 0.5rem;
  text-align: left;
}
.collection-card img {
  width: 20rem;
  height: 20rem;
  object-fit: fill;
}
.collection-card > a > div:last-child > * {
  margin-bottom: 0.5rem;
}
.fullscreen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
.label-button {
  display: inline;
  padding: 0.25rem;
  cursor: pointer;
}
.label-button:hover {
  background-color: var(--light-accent);
}
.label-button:active {
  background-color: var(--section);
}
.utility-window {
  position: relative;
  float: left;
  margin-left: 1rem;
}
.is-invalid {
  border-color: var(--danger);
}
.hidden {
  display: none;
}
.success {
  background-color: var(--success);
  color: var(--font);
}
.danger {
  background-color: var(--danger);
  color: var(--font);
}
