:root {
  --background: #313131;
  --section: #6c6c6c;
  --element: #676767;
  --light-element: #626262;
  --accent: #a54d00;
  --light-accent: #c06c3f;
  --font: #242424;
  --light-font: #a1a1a1;
  --danger: #800000;
}
@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
}
html,
body {
  width: 100vw;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a,
button,
select,
input {
  background-color: var(--accent);
  color: var(--font);
  border: 2px solid transparent;
  cursor: pointer;
}
input[type="text"],
input[type="password"] {
  cursor: text;
}
input[type="number"] {
  cursor: text;
  appearance: textfield;
}
input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="checkbox"] {
  appearance: none;
  background-color: var(--accent);
  margin: 0;
  color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--font);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
button:disabled,
select:disabled,
input:disabled {
  cursor: not-allowed;
}
a:hover,
button:hover:enabled,
select:hover:enabled,
input:hover:enabled {
  background-color: var(--light-accent);
}
a:active,
button:active:enabled {
  background-color: var(--section);
}
input:focus,
select:focus {
  outline: 2px solid var(--light-accent);
}
a:link {
  text-decoration: none;
}
a:visited {
  color: var(--font);
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font);
}
h2 {
  font-size: 1.5rem;
}
table {
  border-collapse: separate;
  border-spacing: 0.25rem;
  text-align: center;
  background-color: var(--section);
  color: var(--font);
}
table td,
table th {
  font-size: 1rem;
  vertical-align: middle;
}
table th {
  font-weight: bold;
}
table td:nth-last-child(n + 2),
table th:nth-last-child(n + 2) {
  padding: 0 0.25rem;
}
table tbody tr:nth-child(2n) {
  background-color: var(--element);
}
table tbody tr:nth-child(2n + 1) {
  background-color: var(--light-element);
}

.hidden {
  display: none;
}
.is-invalid {
  border-color: var(--danger);
}
.delete-button:hover {
  border-color: var(--danger);
  outline: 3px solid var(--danger);
}
.label-button {
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: var(--font);
  cursor: pointer;
}
.label-button:hover {
  background-color: var(--light-accent);
}
.label-button:active {
  background-color: var(--section);
}

main {
  width: min-content;
  margin: 1rem auto;
}
#accessories {
  display: flex;
  width: 100%;
  margin: 0 auto 1rem auto;
  font-size: 1.25rem;
  text-align: left;
}
#maps-list {
  display: flex;
  flex-direction: column;
  width: 50rem;
}
.map {
  background-color: var(--accent);
  padding: 0;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.map:hover {
  background-color: var(--light-accent);
}
.map > a {
  display: flex;
  flex-direction: row;
  padding: 0;
  border: none;
}
.map > a > div:first-child {
  height: 20rem;
  flex: 0 0 20rem;
  overflow: hidden;
}
.map > a > div:last-child {
  display: block;
  width: 0;
  height: 20rem;
  flex: 1 0 0;
  padding: 0.5rem;
}
.map img {
  width: 20rem;
  height: 20rem;
  object-fit: fill;
}
.map > a > div:last-child > * {
  margin-bottom: 0.5rem;
}
