html,
body {
  height: 100%;
}

#wrapper {
  width: 100%;
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
#map {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
}
#map > img {
  width: 100%;
  height: 100%;
}
#info {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 100%;
  background-color: var(--color2);
  color: var(--color5);
}
#info > * {
  padding: 0.5rem;
}
#info input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}
.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
