#nav-bar {
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: var(--section);
  z-index: 2;
}
#nav-bar > div {
  width: 10rem;
  height: 100%;
  margin-right: 3rem;
}
#nav-bar > div > button,
#nav-bar > div > a {
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  text-align: center;
}
#nav-bar > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-bar > #profile {
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
#nav-bar > #profile > div {
  position: absolute;
  top: 2rem;
  right: 0;
}
#profile > div {
  z-index: 3;
}
