#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--section);
  z-index: 2;
}
.navbar-button {
  width: 10rem;
  height: 100%;
  margin-right: 3rem;
  font-size: 1.25rem;
  border-radius: 0;
}
button.navbar-button {
  padding: 0;
}
#profile-button {
  margin-left: auto;
  margin-right: 0;
}
#profile {
  position: absolute;
  top: var(--navbar-height);
  top: 3rem;
  right: 1rem;
  z-index: 3;
  background-color: var(--section);
  border: 1px solid var(--background);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#profile > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#login-form > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
#login-form input {
  width: 10rem;
}
#message {
  text-align: center;
  padding: 0.5rem;
}
