table td > input,
table td > select,
table td > button {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
table td > input[type="text"],
table td > input[type="number"] {
  padding: 0;
  min-height: 2.5rem;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
#controls-wrapper {
  height: 0px;
  position: relative;
  width: 100%;
  z-index: 100;
}
#controls-wrapper > div > div {
  background-color: var(--section);
  border: none;
  color: var(--font);
  border-radius: 0.5rem;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}
#settings > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
  padding: 0.5rem;
  z-index: 100;
}
#settings input[type="text"],
#settings input[type="number"],
#settings input[type="color"],
#settings select,
#settings button {
  display: block;
  width: 100%;
  font-size: 1rem;
}
#settings input[type="color"] {
  height: 2.75rem;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row > * {
  flex: 1 0 0px;
}
.row > label {
  cursor: help;
}
.row > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.row > div > * {
  flex-grow: 1;
  flex-basis: 0;
}
.row > div > input[type="checkbox"] {
  flex-basis: 2.5rem;
  flex-grow: 0;
}
#mark-suggestions select {
  font-size: 1rem;
}
#suggestions-search-input {
  text-align: center;
}
#suggestions-search-input,
#mark-groups .group-name > input {
  width: 5rem;
}
#mark-groups > div {
  display: block;
  z-index: 100;
}
#mark-groups input[type="color"] {
  padding: 0;
  border: 1px solid var(--accent);
  overflow: hidden;
}
#mark-groups input[type="color"]:hover {
  border-color: var(--light-accent);
}
#mark-groups .group-tribes > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#mark-groups .mark {
  padding: 0px;
}
#mark-groups .delete-group {
  width: 2.5rem;
}
#map {
  flex: 1 0 1px;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map-canvas {
  position: relative;
  display: block;
  float: right;
}
#map-canvas:hover {
  cursor: grab;
}
#map-canvas:active {
  cursor: grabbing;
}
