#controls-wrapper {
  height: 0px;
  position: relative;
  width: 100%;
  z-index: 100;
}
#settings > div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0.5rem 0.5rem 0px 0.5rem;
  z-index: 100;
}
#controls-wrapper > div > div {
  background-color: var(--section);
  border: none;
  color: var(--font);
  border-radius: 0.5rem;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}
#settings input[type="text"],
#settings input[type="number"],
#settings select,
#settings button {
  display: block;
  width: 100%;
  font-size: 1rem;
}
#settings input[type="color"] {
  display: block;
  width: 100%;
  height: 2.75rem;
}
.delete-group {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 1;
}
.row {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row > * {
  display: inline-block;
  flex: 1 0 0px;
}
.row > label {
  cursor: help;
}
.row > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.row > div > * {
  flex-grow: 1;
  flex-basis: 0;
}
.row > div > input[type="checkbox"] {
  flex-basis: 2.5rem;
  flex-grow: 0;
}
#suggestions-search-input {
  width: 5rem;
  text-align: center;
  font-size: 1rem;
}
#mark-suggestions select {
  font-size: 1rem;
}
#mark-groups > div {
  display: block;
  z-index: 100;
}
#mark-groups input[type="color"] {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 1px solid var(--accent);
  overflow: hidden;
}
#mark-groups input[type="color"]:hover {
  border-color: var(--light-accent);
}
.group-tribes > .mark:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
.mark {
  padding: 0px;
}
.group-name:hover {
  background-color: var(--light-accent);
}
td {
  padding: 0 0.25rem;
}
table tr > td:last-child,
#mark-suggestions tr > th:nth-child(2),
#mark-groups tr > td:nth-child(2) {
  padding: 0;
}
#map {
  flex: 1 0 1px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}
#map-canvas {
  position: relative;
  display: block;
  float: right;
}
#map-canvas:hover {
  cursor: grab;
}
#map-canvas:active {
  cursor: grabbing;
}
