body {
  overflow-x: scroll;
}
td:first-child {
  font-weight: bold;
}
.available {
  background-color: green;
}
.unavailable {
  background-color: maroon;
}
.files-only {
  background-color: yellow;
}
.data-only {
  background-color: violet;
}
td > button {
  background-color: inherit;
}
button.create-world-data {
  /*  */
}
